
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Josefin+Sans&family=Oswald:wght@600&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
}
body{
    background: url('/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container{
    color: white;
    position: absolute;
    top: 32%;
    left: 40%;
}
.container h1{
    display: inline-block;
    font-size: 35px;
    border-bottom: 5px solid purple;
    margin-bottom: 25px;
    padding: 6px;
}
.box{
    width: 100%;
    border-bottom: 2px solid purple;
    margin: 30px 0px;
}
.box input{
    background: none;
    width: 75%;
    outline: none;
    color: white;
    border: none;
    padding: 5px 14px;
    font-size: 16px;
}
.btn{
    cursor: pointer;
    padding: 3px;
    margin: 10px;
    width: 35%;
    border-radius: 10px;
    border: 2px solid purple;
    font-size: 15px;
    background: none;
    color: white;
    height: 38px;
    font-weight: bold;


}
.btn:hover{
    background-color: white;
    color: purple;
}
.box i{
    width: 20px;
    text-align: center;


}